<!DOCTYPE html>
<html>
    <head>
        <title>CorreProApp</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
      <div class="container">

        <h1>CorreProApp</h1>
        
          <nav class="menu">
            <ul>
              <li class="active"><a href="/">Lista</a></li>
              <li><a href="/agregar">Agregar</a></li>
            </ul>
          </nav>
        
          {% block content %}

          {% endblock %}
        
        <footer>CorreProApp - Ulises Lodi</footer>
    
      </div>
    </body>
</html>