body {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: white;
}

option {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: whitesmoke;
  background-color: #2175bc;
  padding: 7px;
}

.menu {
  padding: 0;
}

.menu li {
  display: inline;
  text-align: center;
}

.menu li a {
  float: left;
  font-family: Arial;
  font-size: 11px;
  text-decoration: none;
  padding: 10px;
  background-color: #2175bc;
  color: #fff;
}

.menu li a:hover {
  background-color: #2586d7;
  margin-top: -2;
  padding-bottom: 12px;
  }

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
  @media screen and (max-width: 580px)
    display: block;
}

.row {
  display: table-row;
  background: #2980b9;
   
  @media screen and (max-width: 580px)
    padding: 14px 0 7px
    display: block
    
    &.header
      padding: 0
      height: 6px
      
      .cell
        display: none
    
    .cell
      margin-bottom: 10px
      
      &:before
        margin-bottom: 3px
        content: attr(data-title)
        min-width: 98px
        font-size: 10px
        line-height: 10px
        font-weight: bold
        text-transform: uppercase
        color: #969696
        display: block
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  @media screen and (max-width: 580px)
	padding: 2px 16px;
}

h2 {
  padding-top: 50px;
  margin: 5%;
}

p {
  margin-block: 5%;
  padding-block: 5%;
  text-decoration: none;
}

.form-style-7 {
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 h1 {
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}

.form-style-7 ul {
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li {
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}

.form-style-7 li:last-child {
	border:none;
	margin-bottom: 0px;
	text-align: center;
}

.form-style-7 li > label {
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

.form-style-7 select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 li > span {
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.form-style-7 textarea {
	resize:none;
}

.form-style-7 input[type="submit"],

.form-style-7 input[type="button"] {
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
}

.form-style-7 input[type="submit"]:hover,

.form-style-7 input[type="button"]:hover {
	background: #6B9FFF;
	color:#fff;
}

footer {
  text-align: center;
  color: whitesmoke;
  background-color: #2175bc;
  padding:  7px;
}


